.SpellChargingBar 
{
	width: 100px;
	height: 10px;
	background-color: gradient(linear, 0% 100%, 0% 0%, from(#4d4d4dff), to(#262626ff));
}

.SpellChargingBarInside1
{
	width: 0px;
	height: 10px;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#e6e6ccff), to(#cccca0ff));
}

.SpellChargingBarInside2
{
	width: 0px;
	height: 10px;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#e62e00ff), to(#991f00ff));
}